<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="index.php">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="CadastroAluno.php">Cadastrar aluno</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="BuscarAluno.php">Buscar aluno</a>
    </li>
	<li class="nav-item">
		<a class="nav-link" href="AtualizarAluno.php"> Atualizar aluno </a>
	</li>
    <li class="nav-item">
        <a class="nav-link" href="RemoverAluno.php">Remover aluno</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" href="CadastroProfessor.php">Cadastrar professor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="BuscarProfessor.php">Buscar professor</a>
    </li>
	<li class="nav-item">
		<a class="nav-link" href="AtualizarProfessor.php"> Atualizar professor </a>
	</li>
    <li class="nav-item">
        <a class="nav-link" href="RemoverProfessor.php">Remover professor</a>
    </li>
</ul>